# String

In [1]:
print('Mrunal')

Mrunal

In [28]:
r="gopal"
print(r)

gopal

In [2]:
print("Mrunal")

Mrunal

In [29]:
print('''My
name is
Mrunal''')

My
name is
Mrunal

In [3]:
a ="Hello"
print(a)

Hello

In [4]:
a=('''
My name is Mrunal
I am completed my MSc in statistics
''')
print(a)

My name is Mrunal
I am completed my MSc in statistics

# List

In [5]:
thislist=["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [6]:
thislist =["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [7]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [30]:
list1 = ["abc", 34, True, 40, "male",2.9]
print(list1)

['abc', 34, True, 40, 'male', 2.9]

In [9]:
list2 = [1, 5, 7, 9, 3]
print(list2)

[1, 5, 7, 9, 3]

# Tuple

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [11]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [12]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [13]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [14]:
tuple2 = (1, 5, 7, 9, 3)
print(tuple2)

(1, 5, 7, 9, 3)

# set

In [15]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'apple', 'banana'}

In [16]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [17]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [18]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [19]:
set1 = {"abc", 34, True, 40, "male"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1,set2,set3)

{True, 34, 'male', 40, 'abc'} {1, 3, 5, 7, 9} {False, True}

# Dictionary

In [20]:
thisdict = {"Name": "Mrunal","Age": 22, "City":"Karad"}
print(thisdict)

{'Name': 'Mrunal', 'Age': 22, 'City': 'Karad'}

In [31]:
thisdict = {"Name": "Mrunal","Age": 22, "City":"Karad"}
print(thisdict["Age"])

22

In [33]:
thisdict = {"Name": "Mrunal","Age": 22, "City":"Karad","City":"Pune"}
print(thisdict)

{'Name': 'Mrunal', 'Age': 22, 'City': 'Pune'}

In [23]:
thisdict = {"Name": "Mrunal","Age": 22, "City":"Karad","City":"Pune"}
print(len(thisdict))

3

In [24]:
thisdict = {"Name": ["Mrunal","Diganti","Riya"],"Age": 22, "City":"Karad","City":"Pune"}
print(thisdict)

{'Name': ['Mrunal', 'Diganti', 'Riya'], 'Age': 22, 'City': 'Pune'}

In [25]:
print(thisdict["Name"])

['Mrunal', 'Diganti', 'Riya']